.checkboxFour {
  width: 25px;
  height: 25px;
  /* position: absolute; */
  background: #ddd;
  /* margin: 20px 90px; */
  border-radius: 100%;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle-checkbox {
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.checkboxFour .check-mark {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #707070;
  font-family: arial;
  font-size: 20px;
  font-weight: 600;
  -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
  -webkit-transform: scaleX(-1) rotate(-35deg);
  transform: scaleX(-1) rotate(-35deg);
  width: 24.5px;
  height: 24.5px;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background: white;
  border: #707070 solid 2.5px;
}

.checkboxFour input[type="checkbox"]:checked + label {
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  background: #5cb8e1;
  width: 26px;
  height: 26px;
  margin: 0;
}

/* Heart Icon */

.heart-shape {
  position: absolute;
  z-index: 3;
  width: 18px;
  content: "❤";
  height: 18px;
  margin-top: 10px;
  margin-left: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
}
.heart-shape::after,
.heart-shape::before {
  position: absolute;
  width: 18px;
  height: 18px;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
}

.heart-shape::after {
  bottom: 0px;
  left: -8px;
}
.heart-shape::before {
  top: -8px;
  right: 0px;
}
